.home {
    font-size: 30px;
    font-family: 'Alex Brush', cursive;
    color: #f0b113;
}

.envios-hasta {
    background-color: $background-secondary;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    height: 40px;
    width: 100%;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
}

.card {
    width: 300px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    position: relative;
    box-sizing: border-box;
    width: 11.875rem;
    height: 11.875rem;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgb(3, 3, 3);
    backdrop-filter: blur(6px);
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: rgb(247, 247, 247);
    margin: auto;

    & a {
        display: block;
        text-align: center;
        color: #f0b113;
        text-shadow: 5px 5px 5px black;
        text-decoration: none;
    }
}

.card-content {
    padding: 20px;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;

    & h2 {
        font-size: 24px;
        margin-bottom: 10px;

        p {
            font-size: 16px;
            color: #000000;
        }
    }
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card:hover {
    border-radius: 1px solid rgb(30, 0, 255);
    transform: scale(1.05);

    & .card-content {
        opacity: 1;
    }

    &:active {
        transform: scale(0.95) rotate(1.7deg);
    }
}

.image-grid-prod {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;

    img {
        width: 100%;
        height: auto;
        display: flex;
    }
}

.image-grid-prod a {
    display: block;
    text-decoration: none;
    color: #333;
    text-align: center;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.image-grid-carr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;

    img {
        width: 100%;
        height: 50%;
        display: flex;
    }
}

.image-grid-carr a {
    display: block;
    text-decoration: none;
    color: #333;
    text-align: center;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.02);
    }
}

h2 {
    text-align: center;
    font-family: 'Diphylleia', serif;
    text-shadow: 5px 5px 5px black;
    justify-content: center;
}



// BOTON DE CARRITO
.styled-button {
    background-color: #1b82f0;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 16px;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}